.App {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.btn {
   padding: 10px 20px;
   border: none;
   border-radius: 10px;
   margin: 20px auto;
   cursor: pointer;
   background-color: #ff8a25;
   font-size: large;
}
.btn:hover {
   background-color: #ff5a4f;
}
.userMassage {
   display: flex;
   flex-direction: column;
   width: 20%;
}
.userMassage > input {
   padding: 10px;
   margin: 5px;
   border-radius: 10px;
}
.autoMsg {
   background-color: rgba(129, 129, 129, 0.795);
   padding: 20px 50px;
   border-radius: 10px;
}
